body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(20px,250px);

}
div{
    margin-bottom: 10px;
    padding: 8px;
    border: 50px;
    border-radius: 90px;
}